/*http://support.google.com/chrome/?hl=en*/
::-webkit-scrollbar              { background-color:#222; }
::-webkit-scrollbar-track:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }

::-webkit-scrollbar-track-piece  { background-color:#000; }

::-webkit-scrollbar-track-piece:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:vertical:hover { background-color:#112;background:linear-gradient(to bottom,#112,#000,#112); }
::-webkit-scrollbar-track-piece:horizontal { background-color:#0a0a0a;background:linear-gradient(to right,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:horizontal:hover { background-color:#112;background:linear-gradient(to right,#112,#000,#112); }

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-thumb:vertical        { background-color:#111;background:linear-gradient(to right,#000,#111,#000);}
::-webkit-scrollbar-button:vertical:hover,
::-webkit-scrollbar-thumb:vertical:hover  { background-color:#334;background:linear-gradient(to right,#222,#334,#222);}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-thumb:horizontal      { background-color:#111;background:linear-gradient(to bottom,#000,#111,#000)}
::-webkit-scrollbar-button:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:hover{ background-color:#334;background:linear-gradient(to bottom,#222,#334,#222)}

::-webkit-scrollbar-corner       { background-color:#000; }
::-webkit-resizer                { background-color:#000; }

.CodeMirror {
  border: 1px solid #222;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #111;
}
#target {
  top:220px;
  position:relative;
  width: 50%;
  float: right;
  margin-right:5px;
}
#container{
  position:fixed;
  width: calc(50% - 180px);
  margin-left:171px;
  xborder:1px solid red;
  box-shadow:inset 0px 0px 83px 37px #000;
}
#menu{
  position:fixed;
  top:0px;
  left:0px;
  width: 150px;
  height: 100%;
  padding:10px;
  overflow-y:scroll;
  font-size:8pt;
  xborder:1px solid red;
}
#menu h3{
  margin:0px;
  padding:0px;
  margin-top:6px;
  color:#555;
  margin-left:-4px;
  background-color:#222;
  padding-left:3px;
}
#menu a.active{
  background-color:#000;
}
#menu a:hover{
  background-color:#112;
}
#menu a{
  color:#558;
  text-decoration:none;
  display:block;
  padding-left:2px;
}
#menu a:visited{
  color:#556;
  text-decoration:none;
}
#menu a:hover{
  color:#569;
  text-decoration:none;
}

a[target=kinetic]{
  text-decoration:none;
  white-space: nowrap;
}
#info {
  color:#999;
  font-size:10pt;
  top:0px;
  right:0px;
  position:fixed;
  width: calc(50% - 10px);
  height:193px;
  margin-right:5px;
  xborder:1px solid red;
  background-color:#111;
  z-index:2000;
  overflow-y:scroll;
  padding:5px;
  padding-top:20px;
  box-shadow:inset 0px 0px 83px 37px #000;
}
#nextprev a{
  color:#558;
  text-decoration:none;
}
#nextprev a:visited{
  color:#556;
  text-decoration:none;
}
#nextprev a:hover{
  color:#569;
  text-decoration:none;
}
#tit{
  xborder:1px solid red;
  position:fixed;
  width:25%;
  top:0px;
  left:calc(50% + 0px);
  xright:120px;
  height:24px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(110,110,110,0.2);
}

#nextprev{
  xborder:1px solid red;
  position:fixed;
  width:50;
  top:0px;
  right:20px;
  height:20px;
}

#buttons {
  position: fixed;
  top: 485px;
  left: 200px;
}
#buttons > input {
  padding: 10px;
  display: block;
  margin-top: 5px;
}
button {
  margin-top: 10px;
  display: block;
}

.note {
  font-style: italic;
  background-color: #445;
  display: inline;
  padding: 2px;
  line-height: 19px;
  color: #111;
  display: block;
  border-radius: 5px;
  }


.warn {
  background-color: #F55;
  display: block;
  padding: 2px;
  font-size:14px;
  line-height: 20px;
  color: #000;
}

code{
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #a11;
  background-color: #050505;
  xpadding: 1px 3px;
  padding-left:2px;
  padding-right:2px;
  border: 1px solid #222;
  border-radius: 3px;
  font-style: normal;
}
strong, em {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #1b1;
  background-color: #050505;
  padding-left:2px;
  padding-right:2px;
  border: 1px solid #222;
  border-radius: 3px;
  font-style: normal;
}
